[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "mtaOpenData"]
	path = mtaOpenData
	url = https://github.com/martinezc1/mtaopendata
[submodule "nycOpenData"]
	path = nycOpenData
	url = https://github.com/martinezc1/nycopendata
[submodule "nysOpenData"]
	path = nysOpenData
	url = https://github.com/martinezc1/nysopendata
[submodule "reproresearchR"]
	path = reproresearchR
	url = https://github.com/martinezc1/reproresearchr
