[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "nycOpenData"]
	path = nycOpenData
	url = https://github.com/martinezc1/nycopendata
