[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "deOpenData"]
	path = deOpenData
	url = https://github.com/cran/deOpenData
[submodule "reproresearchR"]
	path = reproresearchR
	url = https://github.com/martinezc1/reproresearchr
